<html>
  <head>
    <style>
      textarea {
        font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
      }
    </style>
    <title>b3QOTD</title>
  </head>
  <body>
    <h2>b3QOTD</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <h3>{{ message }}</h3>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form method=POST>
      <input type=hidden name=_method value=PUT>
      <textarea name=quote cols=80 rows=24>&lt;blha303&gt; This is an example of how to input text. You have up to 50 lines to type
          whatever you want. Lines over 80 characters will be reformatted. All newlines
          will be removed. I highly recommend you adopt a format per line of
          "&lt;username&gt; quote", avoiding angle brackets where possible. Any instance of
          " &lt;" will be split into a new line. I'm working on fixing this, believe me.
          Probably something to do with regex.
&lt;You&gt; Oh, ok, cool.</textarea>
      <input type=submit>
    </form>
    <code>
      $ nc home.blha303.biz 17
    </code>
    <table>
      <tr>
        <th>Delete</th>
        <th>Quote</th>
      </tr>
      {% for item in quotes %}
      <tr>
        <td><form method=POST><input type=hidden name=_method value=DELETE><input type=hidden name=index value="{{ item[0] }}"><input type=submit value=Delete></form></td>
        <td><pre>{{ item[1] }}</pre></td>
      </tr>
      {% endfor %}
    </table>
    <p><a href=/backups>Backups</a></p>
    <footer>
      <a href="https://github.com/blha303/b3QOTD">b3QOTD</a> {{ info() }}
    </footer>
  </body>
</html>
