<html>
  <head>
    <style>
      textarea {
        font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
      }
    </style>
    <title>b3QOTD</title>
  </head>
  <body>
    <h2>b3QOTD</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <h3>{{ message }}</h3>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form method=POST>
      <input type=hidden name=_method value=PUT>
      <textarea name=quote cols=80 rows=24></textarea>
      <input type=submit>
    </form>
    <code>
      $ nc home.blha303.biz 17
    </code>
    <table>
      <tr>
        <th>Delete</th>
        <th>Quote</th>
      </tr>
      {% for item in quotes %}
      <tr>
        <td><form method=POST><input type=hidden name=_method value=DELETE><input type=hidden name=index value="{{ item[0] }}"><input type=submit value=Delete></form></td>
        <td><pre>{{ item[1] }}</pre></td>
      </tr>
      {% endfor %}
    </table>
    <p><a href=/backups>Backups</a></p>
    <footer>
      <a href="https://github.com/blha303/b3QOTD">b3QOTD</a> {{ info() }}
    </footer>
  </body>
</html>
